{% extends "layout.html" %}

{% block heading %}
  Change Password
{% endblock %}

{% block body %}
{% if success %}
  <script type="text/javascript">
    Swal.fire({
      icon: 'success',
      title: '<span style="color: #58483A; font-family: Caslon; font-weight: 200">Password successfully changed!</span>',
      background: 'linear-gradient(50deg, #ffffff, #e5e5e5, #cccccc)',
    }).then((result) => {
      window.location.href = "/account"
    });
  </script>
{% elif failure %}
  {% if form.errors.old_password %}
  <script type="text/javascript">
    Swal.fire({
      icon: 'error',
      title: '<span style="color: #58483A; font-family: Caslon; font-weight: 200">Current password is incorrect.</span>',
      background: 'linear-gradient(50deg, #ffffff, #e5e5e5, #cccccc)',
    });
  </script>
  {% elif form.errors.new_password1 or form.errors.new_password2%}
  <script type="text/javascript">
    Swal.fire({
      icon: 'error',
      title: '<span style="color: #58483A; font-family: Caslon; font-weight: 200">Your new password must:</span>',
      html: '<div style="color: #58483A; font-family: Caslon; font-weight: 200; font-size: 16px;"><ul style="text-align: left; margin-left: 150px; margin-right: 120px;"><li>Be unique</li><li>Contain at least 8 characters</li><li>Consist of at least one letter and one number</li><li>Passwords must match</li></ul></div>',
      background: 'linear-gradient(50deg, #ffffff, #e5e5e5, #cccccc)',
    });
  </script>
  {% endif %}
{% endif %}
<div class="pword-title">
  CHANGE PASSWORD
</div>
<div class="pword-divider"></div>
<div class="pword-div">
  <form action="{% url 'change_password' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <div id="pword-submit">
      <button  type="submit">CHANGE PASSWORD</button>
    </div>
  </form>
</div>
<div class="pword-divider" style="margin-top: 50px;"></div>
<div id="pword-btm">
  <a href="/account">Back to Account</a>
</div>


<script type="text/javascript">
  // remove all default form errors
  var errors = document.querySelectorAll('.errorlist');
  for (var i = 0; i < errors.length; i++) {
    errors[i].remove();
  }
</script>
{% endblock %}
